.form-placer{


position: absolute;
top:350px;
left:107em;

}
@media only screen and (max-width: 768px){

.form-placer{


position: absolute;
top:250px;
left:50px;

}



}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;

/*  margin-right: 30px;*/
}



h3{

}

.col-25,
.col-50,
.col-75 {
 /* padding: 0 16px;*/
  }



.container {
display: flex;
  background-color: rgba(189,195,199,0.8);
  padding: 10px 10px;
  border: 1px solid lightgrey;
  border-radius: 0px 10px;
  /*margin-top: 0px;*/
  margin-left: auto;
  width: 80%;


  /*alignment-baseline: central;*/

}



.formheaders{
	display: flex;
	padding: 5px;
	margin-bottom:-3px;
	height: 13%;
}


.formheaders li{
list-style: none;
	
	 background-color: rgba(189,195,199,1);
	 width:40px;
	 padding:10px;
	 margin-bottom: 0px;
	 border-radius: 10px 0px;
	 font-size: 0.9em;
	 font-family: 'Fira Sans', sans-serif;
	 color: white;
}

.formheaders .flights{

margin-left: 15px;
background-color: rgba(189,195,199,0.8);
}



.formheaders .colony {

	margin-left: 0px;
	background-color: rgba(255,97,49,0.8);	
}

.formheaders .marspods {

	margin-left: 0px;
	background-color: rgba(255,97,49,0.8);
}


input[type=text] {
display: flex;
  width: 50%;  
margin-bottom: 20px;
   padding-left: 20px;
  border: 0px solid #ccc;
  border-radius: 10px;
  background-color: rgba(189,195,199,0.8);

 /* margin-left: 20%%;*/

}

.destination{

	border:1px solid grey;
	border-radius: 10px;
	background-color: white;
	margin:0;
	background-color: rgba(189,195,199,0.8);
}

.depart{

	border:1px solid grey;
	border-radius: 10px;
	background-color: rgba(189,195,199,0.8);
	margin:0;
}


hr{
	width: 50%;
	color:rgba(189,195,199,1);
}

label {

margin-bottom: 20px;
text-align: center;
}

/*.icon-container {*/
/*  margin-bottom: 20px;*/
 /* padding: 0px 0px;
  font-size: 20px;
}
*/
.btn {
	/*display: flex;*/
  background-color: rgba(255,97,49,0.8);
  color: white;
  padding:5px 5px 5px 0px;
  margin-top: 10px;
  margin-left:auto;
  margin-right: auto;
  border: none;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
  text-align: center;


}

.btn:hover {
  background-color: #45a049;


 -webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);

}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
/*@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}*/