.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
/*  margin-right: 30px;*/


}

.col-25 {
  -ms-flex: 25%;  IE10 
  flex: 25%;
  background-color: rgba(189,195,199,1);
}

.col-50 {
  -ms-flex: 50%;  /*IE10 */
  flex: 50%;


}

.col-75 {
  -ms-flex: 75%;
  flex:75%;

}

h3{

}

.col-25,
.col-50,
.col-75 {
 /* padding: 0 16px;*/ }
.book{
/*display: flex;*/
list-style: none;
 display: flex;

margin-top: 20px;
margin-left: 200px;
}

.container {
display: flex;
  background-color: rgba(189,195,199,1);
  padding: 5px 5px;
  border: 1px solid lightgrey;
  border-radius: 0px 10px;
  margin-top: 0px;
  margin-left: auto;
  width: 80%;


  /*alignment-baseline: central;*/

}

.title {

	display: flex;
	flex-direction: column;
	padding: 5px;
	margin:0;
	height: 13%;
}


.title p{

	justify-content:  flex-end;
	 background-color: rgba(189,195,199,1);
	 width:40px;
	 padding:5px;
	/*padding-bottom: 10px;*/
     margin-left: 15px;
	 margin-bottom: 0px;
	 border-radius: 10px 0px;
}
input[type=text] {
display: flex;
  width: 50%;
  alignment-baseline: central;
  margin-bottom: 20px;
   padding-left: 20px;
  border: 0px solid #ccc;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(189,195,199,1);

 /* margin-left: 20%%;*/

}

.destination{

	border:1px solid black;
	border-radius: 10px;
	background-color: white;
	margin:0;
	background-color: rgba(189,195,199,1);
}

.depart{

	border:1px solid black;
	border-radius: 10px;
	background-color: rgba(189,195,199,1);
	margin:0;
}


hr{
	width: 50%;
	color:rgba(189,195,199,1);
}

label {

margin-bottom: 20px;
text-align: center;
}

.icon-container {
/*  margin-bottom: 20px;*/
  padding: 0px 0px;
  font-size: 20px;
}

.btn {
	/*display: flex;*/
  background-color: #4CAF50;
  color: white;
  padding:5px 5px 5px 0px;
  margin-left:auto;
  margin-right: auto;
  border: none;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
  text-align: center;


}

.btn:hover {
  background-color: #45a049;


 -webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);

}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
/*@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}*/