body{
    margin:auto 0;

   background-color: #8A392A;
  /* background: url(marsrover.jpg). no-repeat center center fixed; 
 size: cover;*/
  
    }

/**/

/*
Navigation bar*/

.Navbar {
display: flex;
background-color: #8A392A;
padding: 16px;
font-family: 'Fira Sans', sans-serif;
color: white;
border-bottom: 2px solid black;


}

.Navbar__Items {
  display:flex;
  align-items: center;
}

.Navbar__Link a {

    text-decoration: none;
    color: white
}

.Navbar__Link .btn {

    text-decoration: none;
    background-color: rgba(189,195,199,0.8);
    width: 40px;
    color: #DA5A38;
}

.Navbar__Link {
  padding-right: 20px;

}

.Navbar__Items--right {
  margin-left:auto;
}

.Navbar__Link-toggle {
  display: none;
}

.airmarslogo{
    font-size: 1.5em;
    border:#22384D;
    text-shadow: 1px 1px;
    border: 2px solid white;
    border-radius: 100%;
}


/*Css for mobile view, displays the burger menu usning flex box and hides the normal navbar */

@media only screen and (max-width: 760px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
      align-items: flex-start;
  }

  .Navbar__Items { 
    display:none;/*Hides Navbar*/
  }

  .Navbar__Items--right {
    margin-left: 0;
  }
  .Navbar__ToggleShow {
    display: flex;
  }
  .Navbar__Link-toggle {
  align-self: flex-end;
  display: initial;
  position: absolute;
  cursor: pointer;
}
}




/*COVER - underneath navigation bar*/

.container2 {
display: flex;
/*align-items: flex-end;*/
justify-content: center;


background: url("marslandscape.jpg") no-repeat;
background-size:cover;
height:70vh;
   
   }

   .content-header{
display: flex;
width: 100%;
height: 100%;

   }

  .headline{
   /* margin-left: 5em;*/
justify-content: center;
align-content: center;
text-align: center;
/*justify-content: center;
align-items: center;*/
color:rgba(255, 255, 255,1);

font-size: 5em;
text-shadow: 3px 3px 4px black;
padding: 0;
margin-left: 2em;
margin-right: 2em;





  } 

  @media only screen and (max-width: 760px) {

.headline{

font-size: 2rem;

}



  }

  .form-placer{

display: flex;
align-items:flex-end;
  }
  

/*viewport height - will always be 50% of the view area*/
/*
@media all and (max-width: 600px) {    
    .main-nav{
flex-direction: column;
        flex-basis: 80%;
    }

    .container2 {    
        
        flex-basis: 100%;
        }    
    }
    
    @media all and (max-width: 400px) {    
     .main-nav{
flex-direction: column;
        flex-basis: 50%;
    }*/


    /*.container2 {    
        
        flex-basis: 50% 
        }   */ 
    }

.booking{

    display: flex;

}

/*project grid*/
.grid-design-top{

background-color: #2E404E;
    padding-bottom: 100px;
    border-top-right-radius: 100%;
     border-top-left-radius: 100%;

}
.grid-wrapper{
display: grid;
grid-gap: 2em;
background-color:#2E404E;
/*border-radius:120px;*/
grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
}


.zone {
   /* padding:30px 50px;
    margin:40px 60px;*/
    cursor:pointer;
    /*display:inline-block;*/
    color:#FFF;
    font-size:2em;
 /*   border-radius:10px;*/
   /* border:1px solid #bbb;*/
    transition: all 0.3s linear;
    
     
}
.box{

    background-color:#2E404E;
    padding:0px;
    margin: 20px;
     box-shadow: 10px solid black;





}

.zone > .box:hover {

 -webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);

}

.box > img{
display: flex;
height: 30vh;
width: 100%;
cursor:pointer;
font-size:1em;
border-radius:120px;
transition: all 0.3s linear;
margin:0;
position: relative;
z-index: 10;
box-shadow: 1px 1px grey;

}

.grid-design{

    background-color: #2E404E;
    padding-bottom: 100px;
    border-bottom-left-radius: 100%;

     border-bottom-right-radius: 100%;
}
footer{
display: flex;
    background-color: #8A392A;
    width: 100%;


}

footer li{
/*display: flex;*/

   list-style: none;
   font-size: 14px;

}

.footer-list{

    display: flex;
}

p{ 
align-content: center;
font-size: 14px; }

@media only screen and (max-width: 768px) {

    footer, .footer-list{


        flex-direction:column;
    }



}



 /*.floatleft {
        float: center;
        padding-right: 0px;
        padding-bottom: 1px;
    }
*/




/*booking form */

   





